@tailwind base;
@tailwind components;
@tailwind utilities;

.label {
  @apply block text-sm font-semibold text-gray-700 mb-1;
}

.input-pro {
  @apply w-full px-4 py-2.5 rounded-xl border border-gray-300
         focus:ring-2 focus:ring-[#C9A24D]/40
         focus:border-[#C9A24D]
         outline-none transition shadow-sm bg-white;
}
.button-primary {
  @apply bg-[#C9A24D] text-white font-semibold py-2.5 px-6 rounded-xl
         hover:bg-[#b58939] transition;
}
.button-secondary {
  @apply bg-gray-200 text-gray-700 font-semibold py-2.5 px-6 rounded-xl
         hover:bg-gray-300 transition;
}
.button-danger {
  @apply bg-red-600 text-white font-semibold py-2.5 px-6 rounded-xl
         hover:bg-red-700 transition;
}